{
    "employees": [
        {
            "id": 1,
            "firstName": "Raphael",
            "lastName": "Alampay",
            "isRegular": true
        },
        {
            "id": 2,
            "firstName": "Leonardo",
            "lastName": "Alampay",
            "isRegular": false
        }
  ],
  "tasks": [
    {
      "id": 1,
      "content": "Task 1",
      "employeeId": 1
    },
    {
      "id": 2,
      "content": "Task 2",
      "employeeId": 1
    },
    {
      "id": 3,
      "content": "Task 3",
      "employeeId": 2
    }
  ]
}