{
    "employees": [
        {
            "id": 1,
            "firstName": "Raphael",
            "lastName": "Alampay",
            "isRegular": true
        },
        {
            "id": 2,
            "firstName": "Leonardo",
            "lastName": "Alampay",
            "isRegular": false
        }
    ]
}